.margin-bottom{
    margin-bottom: 5px;
}
.col-md-6{
    width: 50%;
    float: left;
}

.title{
    font-size: 20px;
}

body{
    font-family: "Tahoma", sans-serif;
}
.tweet{
    margin: 5px;
    padding: 10px;
    border: 1px solid grey;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.tweetTitle{
    font-size: 18px;
}